<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Healthcare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>


<div class="jumbotron">
  <h2 align="center">... CLC Healthcare ...</h2>
</div>

<a href="http://localhost:5000/healthcare/address/" class="btn btn-primary" role="button">Address</a>
<a href="http://localhost:5000/healthcare/hospital/" class="btn btn-primary" role="button">Hospital</a>
<a href="http://localhost:5000/healthcare/doctor/" class="btn btn-primary" role="button">Doctor</a>
<a href="http://localhost:5000/healthcare/patient/" class="btn btn-primary" role="button">Patient</a>


</body>
</html>